main{
   width: 80%;
   margin: 20px auto;
   background-color: aquamarine;
   box-shadow: gray -5px 5px;
   border-radius: 5px;
   padding: 20px;
}

#secaoprodutos{
   width: 100%;
   
   background-color: gray;
   /* posicionamento padrão: esquerda, topo e coluna */
   display: flex;
   /* display: flex, muda para linha */
   flex-direction: row;
   /* comandos de flexbox são SEMPRE no elemento PAI */
   justify-content: center; 
   /* muda a orientação horizontal do flexbox */
   align-items: start;
    /* muda a orientação vertical do flexbox */
    flex-wrap: wrap;
    /* evita distorções pela falta de espaço */
    gap: 20px;
    /* espaçamento entre os elementos */
    
}

.produtos{
   width: 200px;
   height: 300px;
   margin: 10px;
   border-radius: 20px;
   overflow: hidden;
   border: dotted 3px black;
}

.imagemproduto{
width: 100%;
height: 50%;
background-color: chartreuse;

}

.imagemproduto img{
   width: 100%;
   height: 100%;
   
}

.descricaoproduto{
   width: 100%;
   height: 50%;
   background-color: deeppink;
}

.descricaoproduto p{
   text-align: center;

}

h4{
   font-size: 17pt;
   padding: 5px;
   text-align: center;
}

.preco{
   font-size: 16pt;
   font-weight: bold;
   color: rgb(121, 238, 121);
}